@page "/"

<PageTitle>Home</PageTitle>

<body><article id="28a57978-ca91-4fc4-b0c5-8e930ab96e30" class="page sans">
<MudText Typo="Typo.h3" GutterBottom="true" Align="Align.Center">Willkommen!</MudText>
<MudText Class="mb-8" Align="Align.Center">Dies ist das Linux Handbuch Projekt von: Jessica Bertschi, Lou Wuethrich, Jannik Luethi, Rafael Stern und Jean-Luc Jordi</MudText>
    
<MudText Typo="Typo.h5" GutterBottom="true">Website Navigation</MudText>
<MudText Typo="Typo.body2">
    Die Website hat fünf verschiedene Seiten:<br/>
    - Home<br/>
    - Intro zu Linux<br/>
    - Installation von Linux<br/>
    - Wichtige Commands<br/>
    - Linux Package Manager<br/>
    <br/>
    Diese können über das Navigationsmenü auf der Linken seite aufgerufen werden<br/>
    <br/>
    <br/>
    <MudText Typo="Typo.h5" GutterBottom="true">Linux Helper</MudText>
    Dann giebt es auch noch den Linux Helper.<br/>
    Dieser ist ein kleiner Chatbot, der gerne fragen zu Linux beantwortet.<br/>
    Sein Wissen basiert auf der offiziellen Linux Dokumantation.<br/>
    Zu finden ist er unten rechts, wenn man auf die Sprechblase clickt.<br/>
</MudText>
<br/>

<MudAlert Severity="Severity.Normal" >
    Falls das dieses handbuch etwas nich beantwortet, geht es hier zu der offiziellen Dokumantation:
    <MudLink Href="https://docs.kernel.org" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>docs.kernel.org</b>
    </MudLink>
</MudAlert>
</article><span class="sans" style="font-size:14px;padding-top:2em"></span></body>