@page "/Installation"
<div class="installation">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"/><title>Installation Linux</title><style>
/* cspell:disable-file */
/* webkit printing magic: print all background colors */
</style></head><body><article id="fede8e88-f74f-410e-8420-c23596e65f8b" class="page sans"><MudStack AlignItems="AlignItems.Center"><header onfocus="blur()"><h1 class="page-title" onfocus="blur()">Installation Linux</h1></header><div class="page-body">
    
    <h2>So installiert man Linux</h2>
    <p id="ae79a7c8-0f99-46e5-893f-3d7514056602" class="">Es gibt mehrere Möglichkeiten, Linux zu installieren. Eine unkomplizierte Methode ist das Booten über ein USB-Flash-Laufwerk. Dafür benötigen Sie eine Maschine mit einem USB-Anschluss und ein USB-Flash-Laufwerk mit mindestens 16 GB Speicherplatz.</p>
    <h2>Erstellen eines Bootfähigen Laufwerks</h2>
    <p id="bdf55d58-040d-422b-9cd4-a465ac69b0d3" class="">Zu Beginn müssen wir unsere Linux-Distribution auf einen USB-Stick übertragen. Hierzu benötigen wir ein ISO-File: dieses kann von der Webseite des Herstellers heruntergeladen werden, und ein Bootloader.</p>
    <p id="e88f27c2-e985-4077-8d0b-4c2e8723d709" class="">In diesem Beispiel werden wir das Tool UNetbootin verwenden welches sie auf dem folgenden link finden: <a href="https://unetbootin.github.io/">https://unetbootin.github.io/</a>.</p>
    <p id="812214d8-3025-469a-b88a-2ac6e54de68c" class="">Laden sie zuerst das EXE File unter dem oben erwähnten link herunter und speichern sie es an einem Ort andrem sie es wieder finden.</p>
    <p id="803590f8-466d-4f05-a340-96b2e23b5a3c" class="">Schliessen sie ihren USB-Stick an ihren Computer an und führen sie danach das zuvor heruntergeladene EXE File aus.</p>
    <p id="51df03f0-83d3-4e88-8842-94067214a874" class="">Im nun erschienen Fenster wählen sie beim Disk Image das zuvor heruntergeladene ISO-File.</p>
    <p id="6d35a13e-52ab-49be-ba7b-59092407dd63" class="">Als Typ wählen sie USB-Laufwerk und beim punkt Laufwerk wählen sie ihren USB-Stick. Danach Klicken sie auf OK, um den Prozess zu starten.</p>
    <h2>Abschluss der Installation</h2>
    <p id="cbb45378-c9c6-42d7-9c39-78caa3460353" class="">Nachdem die Bootloader Software die Dateien heruntergeladen, extrahiert und kopiert sowie den Bootloader installiert hat klicken sie auf Beenden.</p>
    <p id="5bb48d5d-61b9-4eaf-bca5-fcf25cc35dd0" class="">Installation auf einem Windows PCs mit dual Boot oder Ersetzen von Windows durch Linux</p>
    <p id="f20fa9a5-1aa2-40f4-92e0-a07fb8fc606a" class="">Hier wird beschrieben, wie sie Linux direkt auf ein gerät Installieren welches. Dies kann als dual Boot oder als alleiniges Betriebssystem fungieren. Jedoch muss für diese Methode Windows zuvor installiert sein.</p>
    <h2>UEFI Removable Device auswählen</h2>
    <p                                           class="">Öffnen sie die Windows Start Optionen und wählen sie «UEFI-Wechseldatenträger» dies kann erreicht werden, indem sie den Computer neustarten und dabei Umschalten gedrückt halten, oder idem sie Windostaste + R drücken und da Shutdown -r -o eingeben.</p>
    <p id="83aa6701-5876-4f86-9d48-cf74768503da" class="">Danach Wählen sie den USB stick aus und starten sie über diesen. Es sollte sich die Installation der Linux Distribution öffnen, in der sie verschieden punkte konfigurieren können.</p>
    <p id="068571d9-044a-44ae-be31-a2d24cbae77c" class="">Wenn sie zur Einstellung Installationstype kommen können sie Zwischen „Linux Distribution parallel zum Windows-Boot-Manager installieren“ oder „Datenträger löschen und Ubuntu installieren“</p>
    <p id="d582d810-53eb-4547-b5d7-886119a8f02b" class="">Danach beenden sie die Installation und starten sie den pc neu</p>
</div></MudStack></article><span class="sans" style="font-size:14px;padding-top:2em"></span></body></html>
</div>